body {
  display: flex;
  justify-content: space-evenly;
}

.badge {
    color: #1F2937;
    background-color: #F3F4F6;
    padding: 0.22em 0.75em;
    display: inline-block;
    border-radius: 0.286em;
    margin: 0.5rem;
  }

  .square {
    border-radius: 0.286em;
  }

  .pill{
    border-radius: 0.857em;
  }

  .gray {
    color: #1F2937;
    background-color: #F3F4F6;
  }

  .red {
    color: #991B1B;
    background-color: #FEE2E2;
  }

  .green {
    color: #065F46;
    background-color: #D1FAE5;
  }

  .yellow {
    color: #92400E;
    background-color: #FEF3C7;
  }

  .blue {
    color: #1E40AF;
    background-color: #DBEAFE
  }

  .indigo {
    color: #3730A3;
    background-color: #E0E7FF
  }

  .purple {
    color: #5B21B6;
    background-color: #EDE9FE
  }

  .pink {
    color: #9D174D;
    background-color: #FCE7F3
  }